<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/admin_style.css">
    <title>Admin page</title>
<body>

<div class="row justify-content-center">
    <div class="col-auto">
        <table id="usersTable" class="table table-striped table-bordered table-sm">
            <caption>List of users</caption>
            <thead class="table-light"></thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Login</th>
                <th scope="col">Role</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
            <tbody id="tableData"></tbody>
            <script type="text/javascript">
                $(document).ready(function () {
                    $.ajax({
                            url: '/admin/users',
                            dataType: 'text',
                            type: 'GET',
                            success: function (data) {
                                var usersList = $.parseJSON(data);

                                var table = "";
                                for (var i = 0; i < usersList.length; i++) {
                                    table += "<tr>";
                                    table += "<td>" + usersList[i].id + "</td>";
                                    table += "<td>" + usersList[i].username + "</td";
                                    table += "<td></td>";
                                    table += "<td>" + usersList[i].role + "</td";
                                    table += "<td></td>";
                                    table += "<td>" + usersList[i].name + "</td>";
                                    table += "<td>" + usersList[i].email + "</td>";

                                    var userId = usersList[i].id;
                                    var linkToUpdateUser = 'href="/admin/updateUserForm?id=';
                                    var linkToDeleteUser = 'href="/admin/deleteUser?id=';

                                    table += "<td>" + '<a class="btn btn-outline-warning btn-sm"';
                                    table += linkToUpdateUser + userId + '"';
                                    table += 'role="button">update</a>';
                                    table += '<a class="btn btn-outline-danger btn-sm"';
                                    table += linkToDeleteUser + userId + '"';
                                    table += 'role="button">delete</a></td>'
                                    table += '</tr>';
                                }
                                table += '<tbody>';
                                document.getElementById("tableData").innerHTML = table;
                            }
                        }
                    )
                });
            </script>

        </table>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <a class="btn btn-primary" href="/admin/addUserForm">Add User</a>
            <a class="btn btn-primary" href="/logout">Logout</a>
        </div>
    </div>
</div>

</body>
</html>